/*Comments
 #cbd5e1; #94a3b8 #64748b  #475569;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #64748b;
}
html {
  box-sizing: border-box;
}

header {
  background-color: #475569;
  text-align: center;
  font-size: 30px;
  line-height: 1.4;
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
}
#root {
  padding: 20px;
  border: 5px solid lightgrey;
  border-radius: 3px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.book-review-form {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #475569;
  grid-auto-flow: row;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: left;
}

.book-review-form input[type="text"] {
  width: 100%;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin: 8px 0;
  border: 5px solid #475569;
  border-radius: 20px;
  cursor: pointer;
}
.book-review-form input::placeholder {
  color: #475569;
  font-size: 20px;
}

.book-review-form input[type="date"] {
  width: 100%;
  color: black;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: 5px solid #475569;
  border-radius: 40px;
  cursor: pointer;
}

.book-review-form input[type="number"] {
  width: 100%;
  color: black;
  padding: 14px 20px;
  font-size: 20px;
  margin: 8px 0;
  border: 5px solid #475569;
  border-radius: 20px;
  cursor: pointer;
}

.review {
  grid-column-start: 1;
  grid-column-end: 4;
}
textArea {
  width: 100%;
  color: black;
  padding: 5px;
  margin: 8px;
  border: 5px solid #475569;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}
.inputbox {
  grid-column-start: 2;
  grid-column-end: 4;
}
label {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

select {
  appearance: none;
  outline: 0;
  color: black;
  background: #94a3b8;
  background-image: none;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 5px solid;
  border-radius: 20px;
}

h1 {
  color: #cbd5e1;
}
button {
  border: 5px solid #475569;
  border-radius: 20px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 40px;
  padding: 5px 5px;
  margin: 8px 0;
  font-size: 20px;
}
/*Book List formatting****************************************/

.message {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 24px;
}

.book-list-container {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #475569;
  grid-auto-flow: row;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: left;
  border-radius: 20px;
}
.book-list-container ul {
  display: grid;
  font-family: "Courier New", Courier, monospace;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 20px;
  margin-bottom: 5px;
  padding: px 5px;
  text-align: left;
  border-radius: 20px;
}
li {
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  text-align: left;
  border-radius: 20px;
}
.book-count {
  font-size: 30px;
  height: 50px;
  background-color: #94a3b8;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}
button.add {
  font-size: 30px;
  height: 50px;
  border: 5px solid #475569;
  background-color: #94a3b8;
  margin: 15px;
  padding: 5px;
  text-align: center;
}
ul {
  list-style: none;
}

span.counter {
  font-size: 25px;
  color: white;
  background-color: #475569;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}

p.book-name {
  font-size: 30px;
  /* color: red; */
  background-color: #94a3b8;
  /* grid-column-start: span 2; */
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}

span.author {
  font-size: 20px;
  color: white;
  background-color: #475569;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}
span.reviewer {
  font-size: 20px;
  color: white;
  background-color: #475569;
  grid-column-start: 4;
  grid-column-end: 5;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}
p.started {
  font-size: 20px;
  color: white;
  background-color: #475569;
  /* grid-column-start: 1; */
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}
span.finished {
  font-size: 20px;
  color: white;
  background-color: #475569;
  /* grid-column-start: 3;
  margin: 5px; */
  padding: 5px 5px;
  border-radius: 20px;
}
p.rating {
  font-size: 20px;
  color: white;
  background-color: #475569;
  /* grid-column-start: 3;
  margin: 5px; */
  padding: 5px 5px;
  border-radius: 20px;
}
span.fict {
  font-size: 20px;
  color: white;
  background-color: #475569;
  /* grid-column-start: 3;
  margin: 5px; */
  padding: 5px 5px;
  border-radius: 20px;
}
span.genre {
  font-size: 20px;
  color: white;
  background-color: #475569;
  /* grid-column-start: 3;
  margin: 5px; */
  padding: 5px 5px;
  border-radius: 20px;
}

p.review {
  font-size: 25px;
  /* color: tomato;*/
  background-color: #94a3b8;
  grid-column-start: 3;
  grid-column-end: 3;
  margin: 10px;
  padding: 5px 5px;
  border-radius: 20px;
}

.charCount {
  font-size: 20px;
  color: white;
  background-color: #475569;
  grid-column-start: 1;
  margin: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}
